/*
!/.gitignore
!/Xconfig/*
!/alacritty/*
!/awww/*
!/bspwm/*
!/dmenu/*
!/dunst/*
!/hypr/*
!/ie-r/*
!/mako/*
!/nemo/*
!/nvim/*
!/picom/*
!/polybar/*
!/rofi/*
!/scripts/*
!/sxhkd/*
!/waybar/*
!/yazi/*
!/zsh/*
/zsh/zsh_history
